<mat-grid-list cols="5" gutterSize="5" rowHeight="100">
    <mat-grid-tile [colspan]="5" [rowspan]="8">
        <form action="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/IncomeInfo" class="mbot-form"
            id="IncomeInfo" method="post" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden"
                value="nSRxO7NoN2qKdfPUDrjIdpAMH-EHXnPwF8KF0cl-kUpY8Jy4mUYMhigv9dqvmS1ZvS7oXx5G0tABc3UrorpBZo0ausEeD5H2k3F1tGb6bAVYCjbevPBYicTpnMir4a0NOJaRww2">
            <div id="errors" aria-label="alert" aria-live="polite"></div>
            <div id="questions" class="mui-questions" style="display: block;">



                <div class="parentDiv">
                    <div class="regionDiv">
                        <mat-card>
                            <mat-card-title>
                                <div>Your Income Information</div>
                            </mat-card-title>

                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Employer Name and Address</mat-label>
                                            <input matInput
                                                [(ngModel)]="this.applicationService.incomeInfo.EmployerNameAndAddress"
                                                name="employername" placeholder="Employer Info" />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>EIN</mat-label>
                                            <input matInput [(ngModel)]="this.applicationService.incomeInfo.EIN"
                                                name="ein" placeholder="ID Number" />
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Wages</mat-label>
                                            <input matInput [(ngModel)]="this.applicationService.incomeInfo.Wages"
                                                name="wages" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Federal Income Tax</mat-label>
                                            <input matInput
                                                [(ngModel)]="this.applicationService.incomeInfo.FederalIncomeTax"
                                                name="incometax" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Medicare Wages</mat-label>
                                            <input matInput
                                                [(ngModel)]="this.applicationService.incomeInfo.MedicareWages"
                                                name="medicarewages" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Social Security Tax</mat-label>
                                            <input matInput [(ngModel)]="this.applicationService.incomeInfo.SSTax"
                                                name="sstax" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Social Security Wages</mat-label>
                                            <input matInput [(ngModel)]="this.applicationService.incomeInfo.SSWages"
                                                name="sswages" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Medicare Tax</mat-label>
                                            <input matInput [(ngModel)]="this.applicationService.incomeInfo.MedicareTax"
                                                name="medicaretax" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mui-list-question">
                                    <div class="mui-question mui-question-textbox " style="" aria-label="First Name">
                                        <mat-form-field floatLabel="never" appearance="fill">
                                            <mat-label>Control Number</mat-label>
                                            <input matInput
                                                [(ngModel)]="this.applicationService.incomeInfo.ControlNumber"
                                                name="controlnumber" placeholder="" />
                                        </mat-form-field>
                                    </div>
                                </div>
                        </mat-card>



                    </div>


                </div>

                <template class="mui-accordion-contianer-template" style="display:none"></template>


            </div>
        </form>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="5" [rowspan]="3">
        <mat-card>
            <mat-card-title>
                Document Upload
            </mat-card-title>
            <div>
                <label for="singleFile">Upload file</label>
                <input id="singleFile" type="file" (change)="onFileChange($event)" />
            </div>
            <br>
            <div *ngIf="fileData">
                <button mat-flat-button color="primary" (click)="uploadDocument()">
                    Upload Document
                </button>
            </div>
        </mat-card>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="5" [rowspan]="1">

    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="5" [rowspan]="1">

        <div>
            <button mat-flat-button color="primary" (click)="submit()">
                Submit
            </button>
        </div>
    </mat-grid-tile>


</mat-grid-list>