<mat-grid-list cols="5" gutterSize="5" rowHeight="100">
    <mat-grid-tile [colspan]="5" [rowspan]="10">

<form action="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/PropertyInfo" class="mbot-form"
    id="PropertyInfo" method="post" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden"
        value="rsq88TN658RbJrK0o4xVU1T_Q22-8EhHsWaCzzseGzcAQKCqdyQw6qhUNOdA1Hv_fxe5nMrtE-BJRgxEJdrVOyR0W3Wr9EJ6nDwZRJcLi3J57iTfL4yyrBE0j54240BwVH4ZTw2">
    <div id="errors" aria-label="alert" aria-live="polite"></div>
    <div id="questions" class="mui-questions" style="display: block;">
        <div class="parentDiv">
            <div class="regionDiv">
                <mat-card>
                    <mat-card-title>Property Information</mat-card-title>
                    <div
                        class="mui-question mui-question-section-header mui-question-head-div first-div-group-fieldset">
                    </div>


                    <div class="mui-list-question">
                        <div class="mui-question mui-question-narrative " style="">
                            <div id="Q9667" class="region-0 ">
                                Tell us more about the property you are financing
                            </div>

                        </div>

                    </div>

                    <mat-card>


                        <legend
                            class="mui-question mui-question-label  mui-question-textbox mui-question-head mui-question-head-no-border"
                            for="LegendQ211"> Address</legend>
                        <div class="mui-list-question">

                            <div class="mui-question mui-question-textbox " style="" aria-label="">

                                <mat-form-field floatLabel="never" appearance="fill">
                                    <input matInput placeholder="" />
                                </mat-form-field>


                            </div>

                        </div>
                        <div class="mui-list-question">

                            <div class="mui-question mui-question-textbox " style="" aria-label="Unit">

                                <mat-form-field floatLabel="never" appearance="fill">
                                    <input matInput placeholder="" />
                                </mat-form-field>

                            </div>

                        </div>
                    </mat-card>

                    <br>

                    <div class="mui-list-question">


                        <div class="mui-question mui-question-textbox " style="">

                            <mat-form-field floatLabel="never" appearance="fill">
                                <mat-label>City</mat-label>
                                <input matInput placeholder="City" />
                            </mat-form-field>

                        </div>

                    </div>

                    <div class="mui-list-question">

                        <mat-form-field appearance="fill">
                            <mat-label>State/Province</mat-label>
                            <select matNativeControl>
                                <option value="">Select</option>
                                <option value="2">AK</option>
                                <option value="1">AL</option>
                                <option value="5">AR</option>
                                <option value="4">AZ</option>
                                <option value="6">CA</option>
                                <option value="8">CO</option>
                                <option value="9">CT</option>
                                <option value="11">DC</option>
                                <option value="10">DE</option>
                                <option value="12">FL</option>
                                <option selected="selected" value="13">GA</option>
                                <option value="15">HI</option>
                                <option value="19">IA</option>
                                <option value="16">ID</option>
                                <option value="17">IL</option>
                                <option value="18">IN</option>
                                <option value="20">KS</option>
                                <option value="21">KY</option>
                                <option value="22">LA</option>
                                <option value="25">MA</option>
                                <option value="24">MD</option>
                                <option value="23">ME</option>
                                <option value="26">MI</option>
                                <option value="27">MN</option>
                                <option value="29">MO</option>
                                <option value="28">MS</option>
                                <option value="30">MT</option>
                                <option value="37">NC</option>
                                <option value="38">ND</option>
                                <option value="31">NE</option>
                                <option value="33">NH</option>
                                <option value="34">NJ</option>
                                <option value="35">NM</option>
                                <option value="32">NV</option>
                                <option value="36">NY</option>
                                <option value="39">OH</option>
                                <option value="40">OK</option>
                                <option value="41">OR</option>
                                <option value="42">PA</option>
                                <option value="44">RI</option>
                                <option value="45">SC</option>
                                <option value="46">SD</option>
                                <option value="47">TN</option>
                                <option value="48">TX</option>
                                <option value="49">UT</option>
                                <option value="51">VA</option>
                                <option value="50">VT</option>
                                <option value="53">WA</option>
                                <option value="55">WI</option>
                                <option value="54">WV</option>
                                <option value="56">WY</option>
                            </select>
                        </mat-form-field>

                    </div>

                    <div class="mui-list-question">

                        <div class="mui-question mui-question-textbox " style="">
                            <mat-form-field floatLabel="never" appearance="fill">
                                <mat-label>Zip Code</mat-label>
                                <input matInput placeholder="Zip" />
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="mui-list-question">


                        <div class="mui-question mui-question-textbox " style="">
                            <mat-form-field floatLabel="never" appearance="fill">
                                <mat-label>Year Built</mat-label>
                                <input matInput placeholder="Year Built" />
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="mui-list-question">


                        <div class="mui-question mui-question-textbox " style="">
                            <mat-form-field floatLabel="never" appearance="fill">
                                <mat-label>Estimated Real Estate Taxes</mat-label>
                                <input matInput placeholder="Estimated Real Estate Taxes" />
                            </mat-form-field>
                            <label class="mui-question-help-text-block">
                                <div class="question-help" data-text-id="H226"><a
                                        href="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/PropertyInfo#/">Help
                                        Estimating Real Estate Taxes</a></div>
                            </label>
                        </div>

                    </div>


                    <div class="mui-list-question">

                        <mat-card>
                            <p>Homeowners' Association Dues Required?</p>
                            <mat-radio-group aria-label="">
                                <div>
                                    <mat-radio-button value="1">Yes</mat-radio-button>
                                </div>
                                <div>
                                    <mat-radio-button value="2">No</mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </mat-card>
                    </div>


                    <div class="mui-list-question" style="display: none;">
                        <div class="mui-question-label" style="width:150px">



                            <label class="mui-question-label" for="Q70">Amount Of Monthly Dues</label>
                        </div>


                        <div class="mui-question mui-question-textbox " style="display: none;">

                            <p class="validation-message-container">
                            </p>
                            <input autocomplete="off"
                                class="region-0   event-blur-RemoveServerSideError question-hidden watermark-color"
                                id="Q70" maxlength="14" name="Q70" size="13" type="text" value="" tabindex="0">


                        </div>

                    </div>

                </mat-card>
                <mat-card>
                    <h3 class="uxg-h3">Broker/Seller Information</h3>
                    <div
                        class="mui-question mui-question-section-header mui-question-head-div first-div-group-fieldset">
                    </div>

                    <div class="mui-list-question">

                        <div class="mui-question mui-question-narrative " style="">
                            <div id="Q9746" class="region-0 ">
                                Provide the name and phone number for the real estate broker or seller you are
                                working with
                            </div>
                        </div>

                    </div>

                    <br>
                    <div class="mui-list-question">


                            <legend
                                class="mui-question mui-question-label mui-question-radio mui-question-radio-vertical clearfix mui-question-head mui-question-head-no-border"
                                for="Q75"> Broker/Seller</legend>
                                <mat-radio-group aria-label="">
                                    <div>
                                        <mat-radio-button value="1">Real Estate Broker</mat-radio-button>
                                    </div>
                                    <div>
                                        <mat-radio-button value="2">Seller</mat-radio-button>
                                    </div>
                                </mat-radio-group>



                    </div>


                    <div class="mui-list-question" style="display: none;">
                        <div class="mui-question-label" style="width:150px">
                            <label class="mui-question-label" for="Q73">Name</label>
                        </div>


                        <div class="mui-question mui-question-textbox " style="display: none;">
                            <p class="validation-message-container">
                            </p>
                            <input autocomplete="off"
                                class="region-0   event-blur-RemoveServerSideError question-hidden" id="Q73"
                                maxlength="50" name="Q73" size="21" type="text" value="" tabindex="0">


                        </div>

                    </div>


                    <div class="mui-list-question" style="display: none;">
                        <div class="mui-question-label" style="width:150px">



                            <label class="mui-question-label" for="Q77">Name</label>
                        </div>


                        <div class="mui-question mui-question-textbox " style="display: none;">

                            <p class="validation-message-container">
                            </p>
                            <input autocomplete="off"
                                class="region-0   event-blur-RemoveServerSideError question-hidden" id="Q77"
                                maxlength="50" name="Q77" size="21" type="text" value="" tabindex="0">


                        </div>

                    </div>


                    <div class="mui-list-question" style="display: none;">

                        <div class="mui-question-label" style="width:150px">

                            <label class="mui-question-label" for="Q74">Phone</label>
                        </div>


                        <div class="mui-question mui-question-phone " style="display: none;">
                            <p class="validation-message-container">
                            </p>
                            <input autocomplete="off"
                                class="region-0   event-blur-RemoveServerSideError question-hidden watermark-color"
                                id="Q74" maxlength="14" name="Q74" size="15" type="text" value="" tabindex="0">


                        </div>

                    </div>


                    <div class="mui-list-question" style="display: none;">
                        <div class="mui-question-label" style="width:150px">
                            <label class="mui-question-label" for="Q78">Phone</label>
                        </div>


                        <div class="mui-question mui-question-phone " style="display: none;">

                            <p class="validation-message-container">
                            </p>
                            <input autocomplete="off"
                                class="region-0   event-blur-RemoveServerSideError question-hidden watermark-color"
                                id="Q78" maxlength="14" name="Q78" size="15" type="text" value="" tabindex="0">


                        </div>

                    </div>
                </mat-card>
                <div style="clear:both;"></div>

            </div>
        </div>

        <div class="question-help-dialog" style="display:none;"></div>

        <div class="hiddenDiv" style="position:fixed; display:none;">
        </div>

        <template class="mui-accordion-contianer-template" style="display:none"></template>


    </div>
</form>
</mat-grid-tile>

<br>
<mat-grid-tile [colspan]="5" [rowspan]="1">
<div>
    <button mat-flat-button color="primary" (click)="navigateToLoanSelection()">
        Next
    </button>
</div>
</mat-grid-tile>
</mat-grid-list>