<mat-grid-list cols="5" gutterSize="5" rowHeight="100">
    <mat-grid-tile [colspan]="5" [rowspan]="6">

        <form action="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/ExpensesInfo" class="mbot-form"
            id="ExpensesInfo" method="post" novalidate="novalidate"><input name="__RequestVerificationToken"
                type="hidden"
                value="S0waN4wQKB4YlOjGMvJUZLmNAokxS3GJ7dy1tlLm5fPccQ2ditF1mgd2obrmcuUcrMi9fQu-1VJQIy8fEB35aG2FsBq5kRNn5zZywzxqj0lMpaljwqz4QA8BnlJcq-wUFHVCNw2">
            <div id="errors" aria-label="alert" aria-live="polite"></div>
            <div id="questions" class="mui-questions">



                <div class="parentDiv">
                    <mat-card>
                        <mat-card-title>Your Credit Cards, Loans, and Leases</mat-card-title>
                        <div class="regionDiv">




                            <div id="LegendQ10122"
                                class="mui-question-label  legend mui-question mui-question-section-header mui-question-head question-hidden"
                                style="display: none" aria-hidden="true">Your Credit Cards, Loans, and
                                Leases</div>
                            <div
                                class="mui-question mui-question-section-header mui-question-head-div first-div-group-fieldset">






                            </div>


                            <div id="LegendQ10123"
                                class="mui-question-label  legend mui-question mui-question-section-header mui-question-head question-hidden"
                                style="display: none" aria-hidden="true"> Your Credit Cards, Loans, and
                                Leases</div>
                            <div
                                class="mui-question mui-question-section-header mui-question-head-div first-div-group-fieldset">






                            </div>



                            <div
                                class="mui-question mui-question-narrative mui-question-head-none-div first-div-group-fieldset mui-question-expense-header">




                                <div id="Q5732" class="region-1  mui-question-expense-header">
                                    Provide information about your current expenses such as auto loans, personal loans,
                                    student
                                    loans and credit cards. Do not include loans secured by real estate that you have
                                    already
                                    told us about, or items such as insurance payments, utility payments, etc.
                                </div>


                            </div>


                            <div class="mui-question mui-question-narrative mui-question-head-none-div first-div-group-fieldset mui-question-expense-header"
                                style="display: none;">




                                <p id="Q5727" class="region-1  mui-question-expense-header question-hidden">
                                    Below is information about your current expenses that we have retrieved from your
                                    credit
                                    report. You have the option to edit, add, or delete an expense. Include information
                                    on
                                    student loans even if the loan is not in repayment. Do not include loans secured by
                                    real
                                    estate that you have already told us about, or items such as insurance payments,
                                    utility
                                    payments, etc.
                                </p>


                            </div>


                            <div class="mui-question mui-question-narrative mui-question-head-none-div first-div-group-fieldset mui-question-expense-header"
                                style="display: none;">




                                <p id="Q5728" class="region-1  mui-question-expense-header question-hidden">
                                    Information we obtained from your credit report about your current expenses is
                                    listed below.
                                    Please review the information and add any expenses that aren’t listed but should be.
                                    Include
                                    information about student loans even if the loan is not in repayment. Do not include
                                    loans
                                    secured by real estate that you have already told us about, or items such as
                                    insurance
                                    payments, utility payments, etc.
                                </p>


                            </div>



                            <div
                                class="mui-question mui-question-narrative mui-question-head-none-div first-div-group-fieldset mui-question-push-left">




                                <div id="Q10006" class="region-1  mui-question-push-left">
                                    <span class="mui-popup-link" data-text-id="TE826"><a
                                            href="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/ExpensesInfo#/">Additional
                                            Info About Student Loans</a></span>
                                </div>


                            </div>

                        </div>
                    </mat-card>
                    <br>
                    <div class="regionDiv">



                        <div class="mbot-region mui-question mui-dynamic-region">
                            <!-- <p class="mbot-region-header ui-state-default" tabindex="0" role="button" aria-expanded="true"
                        aria-label="Expense">
                        <span class="mbot-region-header-triangle ui-icon ui-icon-triangle-1-e"></span>
                        <label class="dynamicVal"> </label>
                        <span class="mbot-region-control-span mbot-dynamic-region-control-span">Close</span>
                    </p> -->
                            <div class="mbot-region-content" role="region" aria-label="Expense">



                                <mat-card>
                                    <mat-card-title>Expense Details</mat-card-title>



                                    <div class="mui-list-question">



                                        <div class="mui-question mui-question-textbox " style="">
                                            <mat-form-field floatLabel="never" appearance="fill">
                                                <mat-label>Lender</mat-label>
                                                <input matInput placeholder="Lender" />
                                            </mat-form-field>

                                        </div>

                                    </div>


                                    <div class="mui-list-question">




                                        <div class="mui-question mui-question-combobox " style="">

                                            <mat-form-field appearance="fill">
                                                <mat-label>Expense Type</mat-label>
                                                <select matNativeControl>
                                                    <option selected="selected" value="">Select</option>
                                                    <option value="15">Mortgage</option>
                                                    <option value="3">Loan</option>
                                                    <option value="8">Lease</option>
                                                    <option value="1">Credit Card</option>
                                                    <option value="10">Due-in-Full Charge</option>
                                                    <option value="12">Other</option>
                                                </select>
                                            </mat-form-field>

                                        </div>

                                    </div>


                                    <div class="mui-list-question">


                                        <div class="mui-question mui-question-textbox " style="">
                                            <mat-form-field floatLabel="never" appearance="fill">
                                                <mat-label>Monthly Payment</mat-label>
                                                <input matInput placeholder="Monthly Payment" />
                                            </mat-form-field>
                                        </div>

                                    </div>


                                    <div class="mui-list-question">

                                        <div class="mui-question mui-question-textbox " style="">
                                            <mat-form-field floatLabel="never" appearance="fill">
                                                <mat-label>Approximate Balance</mat-label>
                                                <input matInput placeholder="Approximate Balance" />
                                            </mat-form-field>

                                        </div>

                                    </div>


                                    <div class="mui-list-question">



                                        <p>Paying in full with this loan?</p>
                                        <mat-radio-group aria-label="">
                                            <div>
                                                <mat-radio-button value="1">Yes</mat-radio-button>
                                            </div>
                                            <div>
                                                <mat-radio-button value="2">No</mat-radio-button>
                                            </div>
                                        </mat-radio-group>
                                    </div>


                                    <div class="mui-list-question">

                                        <div class="mui-question mui-question-button " style="">

                                            <!-- 
                                    <p class="validation-message-container">
                                    </p>
                                    <button type="button"
                                        class="region-200 region-IsDynamic mbot-dynamic-region-delete ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        id="Q10064_1" role="button" aria-disabled="false">
                                        <span class="ui-button-text">Delete Expense</span>
                                    </button>
 -->
                                        </div>

                                    </div>
                                </mat-card>
                                <div
                                    class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-region-sequence">




                                    <input class="region-200 region-IsDynamic mbot-region-sequence" data-display-text=""
                                        id="Q10063_1" name="Q10063_1" type="hidden" value="">

                                </div>
                                <div
                                    class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-dynamic-max-sequence">




                                    <input class="region-200 region-IsDynamic mbot-dynamic-max-sequence"
                                        data-display-text="" id="Q10066_1" name="Q10066_1" type="hidden" value="0">

                                </div>
                                <div
                                    class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-dynamic-liability-id">




                                    <input class="region-200 region-IsDynamic mbot-dynamic-liability-id"
                                        data-display-text="" id="Q10069_1" name="Q10069_1" type="hidden" value="">

                                </div>

                                <div style="clear:both;" class=""></div>

                            </div>
                            <input class="mbot-region-hidden region-200" id="Q10062_1" name="Q10062_1" type="hidden"
                                value="0">
                        </div>


                        <div style="clear:both;"></div>

                    </div>
                    <!-- <div class="regionDiv">



                <fieldset class="group-fieldset" style="display: none;">



                    <legend id="LegendQ10067"
                        class="mui-question-label  mui-question mui-question-textarea mui-question-head question-hidden"
                        style="display: none"> If any of the
                        information obtained from the credit report is not accurate, please provide details below.
                    </legend>
                    <div class="mui-question mui-question-textarea mui-question-head-div first-div-group-fieldset"
                        style="display: none;">




                        <p class="validation-message-container">
                        </p>
                        <textarea autocomplete="off" class="region-3   event-blur-RemoveServerSideError question-hidden"
                            cols="20" id="Q10067" maxlength="7999" name="Q10067" rows="6" tabindex="0"></textarea>

                    </div>
                </fieldset>

                <div style="clear:both;"></div>

            </div>
            <div class="regionDiv">



                <div class="mui-question  mui-question-head-none-div first-div-group-fieldset question-hidden">




                    <input class="region-4  question-hidden event-blur-RemoveServerSideError" data-display-text=""
                        id="Q10009" name="Q10009" type="hidden" value="N" tabindex="0">

                </div>
                <fieldset class="group-fieldset" style="display: none;">



                    <legend id="LegendQ10116"
                        class="mui-question-label  mui-question  mui-question-head question-hidden"
                        style="display: none">Your Collection Accounts</legend>
                    <div class="mui-question  mui-question-head-div first-div-group-fieldset ">






                    </div>
                </fieldset>
                <fieldset class="group-fieldset" style="display: none;">



                    <div class="mui-question mui-question-narrative mui-question-head-none-div first-div-group-fieldset "
                        style="display: none;">




                        <div id="Q10117" class="region-4   question-hidden">
                            The accounts listed below appear on your credit report indicating they have been transferred
                            to an outside agency for payment collection. Generally this means that the account was not
                            repaid in a timely manner in accordance with the lender's terms.
                        </div>


                    </div>
                </fieldset>
                <fieldset class="group-fieldset">



                    <div
                        class="mui-question mui-question-datatable mui-question-head-none-div first-div-group-fieldset mui-collections">







                        <table cellspacing="0">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>



                    </div>
                </fieldset>
                <fieldset class="group-fieldset" style="display: none;">



                    <legend id="LegendQ10119"
                        class="mui-question-label  mui-question mui-question-textarea mui-question-head question-hidden"
                        style="display: none"> Describe the circumstances that caused these accounts to be turned over
                        to a collection agency.</legend>
                    <div class="mui-question mui-question-textarea mui-question-head-div first-div-group-fieldset "
                        style="display: none;">




                        <p class="validation-message-container">
                        </p>
                        <textarea autocomplete="off" class="region-4   event-blur-RemoveServerSideError question-hidden"
                            cols="20" id="Q10119" maxlength="7999" name="Q10119" rows="6" tabindex="0"></textarea>

                    </div>
                </fieldset>

                <div style="clear:both;"></div>

            </div>
            <div class="regionDiv">



                <div class="mui-question  mui-question-head-none-div first-div-group-fieldset mui-can-edit-liabilities">




                    <input class="region-8888  mui-can-edit-liabilities event-blur-RemoveServerSideError"
                        data-display-text="" id="Q10130" name="Q10130" type="hidden" value="Y" tabindex="0">

                </div>

                <div style="clear:both;"></div>

            </div> -->
                    <div class="regionDiv">



                        <div
                            class="mui-question  mui-question-head-none-div first-div-group-fieldset mui-can-collect-delete-reason">




                            <input class="region-0  mui-can-collect-delete-reason event-blur-RemoveServerSideError"
                                data-display-text="" id="Q10159" name="Q10159" type="hidden" value="Y" tabindex="0">

                        </div>
                        <div class="mui-question  mui-question-head-none-div first-div-group-fieldset">




                            <input class="region-0   event-blur-RemoveServerSideError" data-display-text="" id="Q10164"
                                name="Q10164" type="hidden" value="N" tabindex="0">

                        </div>

                        <div style="clear:both;"></div>

                    </div>

                </div>

                <div class="question-help-dialog" style="display:none;"></div>

                <div class="hiddenDiv" style="position:fixed; display:none;">



                    <div class="mbot-region mui-question mui-dynamic-region">
                        <p class="mbot-region-header ui-state-default" tabindex="0" role="button" aria-expanded="false"
                            aria-label="Expense">
                            <span class="mbot-region-header-triangle ui-icon ui-icon-triangle-1-e"></span>
                            <label class="dynamicVal"> </label>
                            <span class="mbot-region-control-span mbot-dynamic-region-control-span">Open</span>
                        </p>
                        <div class="mbot-region-content" role="region" aria-label="Expense" style="display: none;">



                            <fieldset class="group-fieldset">



                                <legend id="LegendQ10055_{INDEX}"
                                    class="mui-question-label  legend mui-question mui-question-section-header mui-question-head">
                                    Expense Details</legend>
                                <div
                                    class="mui-question mui-question-section-header mui-question-head-div first-div-group-fieldset">






                                </div>



                                <ul class="mui-question-list">
                                    <li>

                                        <div class="mui-list-question">
                                            <div class="mui-question mui-question-textbox " style="">
                                                <mat-form-field floatLabel="never" appearance="fill">
                                                    <mat-label>Lender</mat-label>
                                                    <input matInput placeholder="Lender" />
                                                </mat-form-field>


                                            </div>

                                        </div>
                                    </li>
                                    <li>

                                        <div class="mui-list-question">




                                            <div class="mui-question-label" style="width:150px">



                                                <label class="mui-question-label" for="Q10058_{INDEX}">Expense
                                                    Type</label>
                                            </div>


                                            <div class="mui-question mui-question-combobox " style="">





                                                <p class="validation-message-container">
                                                </p>
                                                <select autocomplete="off"
                                                    class="region-100 region-IsDynamic dynamic-expense-type is-lpp-disable"
                                                    id="Q10058_{INDEX}" name="Q10058_{INDEX}">
                                                    <option selected="selected" value="">Select</option>
                                                    <option value="15">Mortgage</option>
                                                    <option value="3">Loan</option>
                                                    <option value="8">Lease</option>
                                                    <option value="1">Credit Card</option>
                                                    <option value="10">Due-in-Full Charge</option>
                                                    <option value="12">Other</option>
                                                </select>


                                            </div>

                                        </div>
                                    </li>
                                    <li>

                                        <div class="mui-list-question">




                                            <div class="mui-question-label" style="width:150px">



                                                <label class="mui-question-label" for="Q10059_{INDEX}">
                                                    <div style="text-align:left;"><a class="mui-tooltip"
                                                            href="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/ExpensesInfo#/"
                                                            title="Enter the minimum monthly payment you are required to make.  If your credit report was ordered, the minimum monthly payment will be as reported by the creditor to the credit report vendor.  For student loans not in repayment, use 2% of the outstanding balance.">Monthly
                                                            Payment</a></div>
                                                </label>
                                            </div>


                                            <div class="mui-question mui-question-textbox " style="">





                                                <p class="validation-message-container">
                                                </p>
                                                <input autocomplete="off"
                                                    class="region-100 region-IsDynamic dynamic-input dynamic-monthly-input no-edit-lpp"
                                                    id="Q10059__INDEX_" maxlength="14" name="Q10059_{INDEX}" size="11"
                                                    type="text" value="">


                                            </div>

                                        </div>
                                    </li>
                                    <li>

                                        <div class="mui-list-question">




                                            <div class="mui-question-label" style="width:150px">



                                                <label class="mui-question-label" for="Q10060_{INDEX}">Approximate
                                                    Balance</label>
                                            </div>


                                            <div class="mui-question mui-question-textbox " style="">





                                                <p class="validation-message-container">
                                                </p>
                                                <input autocomplete="off"
                                                    class="region-100 region-IsDynamic dynamic-input dynamic-balance-input no-edit-lpp"
                                                    id="Q10060__INDEX_" maxlength="14" name="Q10060_{INDEX}" size="11"
                                                    type="text" value="">


                                            </div>

                                        </div>
                                    </li>
                                    <li>

                                        <div class="mui-list-question">






                                            <fieldset class="radio-button-fieldset">



                                                <legend
                                                    class="mui-question mui-question-label mui-question-radio mui-question-radio-vertical clearfix mui-question-head mui-question-head-no-border"
                                                    for="Q10061_{INDEX}">
                                                    <div style="text-align:left;"><a class="mui-tooltip"
                                                            href="https://shebang.mortgagewebcenter.com/ApplyNow/MortgageApplication/ExpensesInfo#/"
                                                            title="If you intend to pay off this expense with funds you may be receiving at this closing or with other funds you have available, please select Yes.  If we know that you intend to pay off existing expenses, it can be considered as we review your loan request.">Paying
                                                            in full with this<br>loan?</a></div>
                                                </legend>
                                                <div class="mui-question mui-question-radio mui-question-radio-vertical clearfix "
                                                    style="">




                                                    <p class="validation-message-container">
                                                    </p>
                                                    <ul>
                                                        <li><input class="region-100 " id="Q10061_{INDEX}.1"
                                                                name="Q10061_{INDEX}" type="radio" value="Y"><label
                                                                class="answer-label" for="Q10061_{INDEX}.1">Yes</label>
                                                        </li>
                                                        <li><input class="region-100 " id="Q10061_{INDEX}.2"
                                                                name="Q10061_{INDEX}" type="radio" value="N"><label
                                                                class="answer-label" for="Q10061_{INDEX}.2">No</label>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </fieldset>


                                        </div>
                                    </li>
                                    <li>

                                        <div class="mui-list-question">






                                            <div class="mui-question mui-question-button " style="">







                                                <!-- 
                                        <p class="validation-message-container">
                                        </p>
                                        <button type="button"
                                            class="region-100 region-IsDynamic mbot-dynamic-region-delete ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                            id="Q10064_{INDEX}" role="button" aria-disabled="false">
                                            <span class="ui-button-text">Delete Expense</span>
                                        </button> -->



                                            </div>

                                        </div>
                                    </li>

                                </ul>
                            </fieldset>
                            <div
                                class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-region-sequence">




                                <input class="region-100 region-IsDynamic mbot-region-sequence" data-display-text=""
                                    id="Q10063__INDEX_" name="Q10063_{INDEX}" type="hidden" value="">

                            </div>
                            <div
                                class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-dynamic-max-sequence">




                                <input class="region-100 region-IsDynamic mbot-dynamic-max-sequence"
                                    data-display-text="" id="Q10066__INDEX_" name="Q10066_{INDEX}" type="hidden"
                                    value="0">

                            </div>
                            <div
                                class="mui-question  mui-question-head-none-div first-div-group-fieldset mbot-dynamic-liability-id">




                                <input class="region-100 region-IsDynamic mbot-dynamic-liability-id"
                                    data-display-text="" id="Q10069__INDEX_" name="Q10069_{INDEX}" type="hidden"
                                    value="">

                            </div>

                            <div style="clear:both;"></div>

                        </div>
                        <input class="mbot-region-hidden region-100" id="Q10062__INDEX_" name="Q10062_{INDEX}"
                            type="hidden" value="0">
                    </div>
                    <div class="regionDiv">



                        <div
                            class="mui-question  mui-question-head-none-div first-div-group-fieldset mui-liability-delete-reason">




                            <input class="region-0 region-IsDynamic mui-liability-delete-reason" data-display-text=""
                                id="Q10156__LiabilityId_" name="Q10156_{LiabilityId}" type="hidden" value="">

                        </div>

                        <div style="clear:both;"></div>

                    </div>
                </div>

                <template class="mui-accordion-contianer-template" style="display:none"></template>


            </div>
        </form>
    </mat-grid-tile>
    <br>
    <mat-grid-tile [colspan]="5" [rowspan]="1">

        <div>
            <button mat-flat-button color="primary" (click)="navigateToIncomeInfo()">
                Next
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>