<br />

<div style="margin:auto; width: 60%;">
    <mat-form-field class="example-full-width">
        <mat-label>Ask a Question</mat-label>
        <textarea [(ngModel)]="userInput" #question matInput placeholder="Ex. Tell me about...">{{userInput}}</textarea>
    </mat-form-field>
</div>

<div style="margin:auto; width: 20%;">
    <button mat-flat-button color="primary" (click)="getPredictions(question.value)">
        Ask
    </button>
</div>
<br />

<div *ngIf="!predictions && questionAsked" style="margin:auto; width: 27%;">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="predictions" style="margin:auto; width: 90%;">
    <div *ngFor="let prediction of predictions">
        <div class="uxg-subtitle-3">
            {{prediction.question}}
            <span [ngClass]="{'green': convertScore(prediction.similarity) >= 75,
                               'yellow': convertScore(prediction.similarity) < 75 && convertScore(prediction.similarity) >= 60,
                               'red': convertScore(prediction.similarity) < 60
                                }">
                {{convertScore(prediction.similarity)}}%</span>
        </div>
        <p class="uxg-body-2">{{prediction.answer}}</p>
    </div>
</div>